.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.grid-item {
  border: 1px solid rgb(255, 255, 255, 0.3);
  border-radius: 10px;
  margin: 15px;
  border: 1px solid #DFD0CF;
  box-shadow: 5px 5px 10px #DFD0CF;
}
.grid-item a {
  text-decoration: none;
}
@media (max-width: 800px) {
  .grid-item {
    margin: 15px auto;
  }
}