<div class="grid">
  <div class="grid-item form">
    <app-add-beer-form (submit)="submitForm($event)"></app-add-beer-form>
  </div>

  <div>
    <div class="grid-item">
      <h2 class="item">Beers list</h2>
      <div class="item" *ngFor="let beer of beers">
          <div class="inner-box-left item">
            <app-beer-list [beer]="beer"></app-beer-list>
          </div>
          <button (click)="deleteBeer(beer)">X</button>
          <div class="inner-box-right">
            <input (click)="updateBeer(beer)" type="checkbox" [ngModel]="beer.active">
          </div>
      </div>
    </div>
    
  
    <div class="grid-item">
      <h2 class="item">Users list</h2>
      <div class="item" *ngFor="let user of users">
        <div class="inner-box-left item">
          <app-user-list [user]="user"></app-user-list>
        </div>
        <div class="inner-box-right">
            <button (click)="deleteUser(user)">X</button>
        </div>
      </div>
    </div>
  </div>


</div>