<header id="site-header" [ngClass]="{'screen-mode': screenMode}">
  
  <nav class="site-nav container">
    <!--  ===================================== Dropdown menu ======================================== -->
    
    
    <div class="nav-container">
      <a [routerLink]="['/']">Home</a>
    </div>
    <!-- AUTH -->
    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>
      
      <ng-container *ngIf="!loading && anon">
        <div class="dropdown nav-container">
          <a class="dropbtn">Not logged in?</a>
          <div class="dropdown-content auth-container">
            <div>
              <a (click)="toggleLogInForm()">Log In</a>
              <app-log-in *ngIf="logInActive"></app-log-in>
            </div>
            
            <div>
              <a (click)="toggleSignUpForm()">Sign Up</a>
              <app-sign-up *ngIf="signUpActive"></app-sign-up>
            </div>         
          </div>
        </div>
      </ng-container>
      
      
    </div>
    
    <!-- Admin -->
    
    <div *ngIf="!loading && !!user">
      <div class="dropdown nav-container">
        <a class="dropbtn">{{user.username}} ></a>
        <div class="dropdown-content">
          <ng-container *ngIf="admin">
              <div>
              <a (click)="screenModeToggle()"  [ngClass]="{'screen-mode-back': screenMode}">Hide navbar</a>
            </div>
            <div>
              <a [routerLink]="['/admin']">Control Panel</a>
            </div>
          </ng-container>
          <div>
            <a [routerLink]="['/users', user._id]">My profile</a>
          </div>
          <div>
            <a (click)="logout()">Logout</a>
          </div>
        </div>
      </div>
    </div>
    
    <!-- ============================================================================== -->
    
  </nav>
</header>

<div id="site-main">
  <router-outlet></router-outlet>
  <a (click)="screenModeToggle()"  [ngClass]="{'screen-mode-back': !screenMode}">Back</a>
</div>

<!-- <footer id="site-footer" [ngClass]="{'screen-mode': screenMode}">
  <div class="container">
    <div class="footer-container">
      &copy; Matuki 2018
    </div>
  </div>
</footer> -->