<header id="site-header" [ngClass]="{'screen-mode': screenMode}">
  <div class="container">   

    <nav class="site-nav">
      <div class="nav-container">
        <a [routerLink]="['/']">Home</a>
      </div>
      <!-- AUTH -->
      <div [ngClass]="{'is-user': user, 'is-anon': anon}">
        <div *ngIf="loading">
          <span class="username text">loading...</span>
        </div>
        
        <ng-container *ngIf="!loading && anon">
          <div class="blur"></div>
          <div class="nav-container">
            <a (click)="toggleLogInForm()">Log In</a>
            <app-log-in class="auth-container" *ngIf="logInActive"></app-log-in>
          </div>
          
          <div class="nav-container">
            <a (click)="toggleSignUpForm()">Sign Up</a>
            <app-sign-up class="auth-container" *ngIf="signUpActive"></app-sign-up>
          </div>         
        </ng-container>
        
        <div *ngIf="!loading && !!user">
          <a [routerLink]="['/users', user._id]">{{user.username}}</a>
          <a (click)="logout()">logout</a>
        </div>
        
      </div>
      <!--  -->

    </nav>
    </div>
  </header>
  
  <div id="site-main">
    <router-outlet></router-outlet>
    <a (click)="screenModeToggle()"  [ngClass]="{'screen-mode-back': !screenMode}">Back</a>
  </div>
  
  <footer id="site-footer" [ngClass]="{'screen-mode': screenMode}">
    <div class="container">
      <div class="footer-container">
        &copy; Matuki 2018
      </div>
      <div class="footer-container">
          <a (click)="screenModeToggle()"  [ngClass]="{'screen-mode-back': screenMode}">Display mode</a>
        </div>
      <div class="footer-container">
        <a *ngIf="admin" [routerLink]="['/admin']">Admin Panel</a>
      </div>
  </div>
</footer>