<header id="site-header" [ngClass]="{'screen-mode': screenMode}">

  <nav class="site-nav container">
    <!--  ===================================== Dropdown menu ======================================== -->


    <div class="nav-container" *ngIf="!anon">
      <a [routerLink]="['/beers']">Home</a>
    </div>
    <!-- AUTH -->
    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>

      <ng-container *ngIf="reset && !loading && anon">
        <div class="dropdown nav-container">
          <a id="not-logged" class="dropbtn glow">Not logged in? &#9660;</a>
          <div class="dropdown-content auth-container">
            <div>
              <a (click)="toggleLogInForm()">Log In</a>
              <app-log-in *ngIf="logInActive"></app-log-in>
            </div>

            <div>
              <a (click)="toggleSignUpForm()">Sign Up</a>
              <app-sign-up *ngIf="signUpActive"></app-sign-up>
            </div>
          </div>
        </div>
      </ng-container>


    </div>

    <!-- Admin -->

    <div *ngIf="reset && !loading && !!user">
      <div class="dropdown nav-container">
        <a class="dropbtn">{{user.username}} &#9660;</a>
        <div class="dropdown-content">
          <ng-container *ngIf="admin">
              <div>
              <a (click)="screenModeToggle()"  [ngClass]="{'screen-mode-back': screenMode}">Hide navbar</a>
            </div>
            <div>
              <a (click)="resetMenu()" [routerLink]="['/admin']">Control Panel</a>
            </div>
          </ng-container>
          <div>
            <a (click)="resetMenu()" [routerLink]="['/users', user._id]">My profile</a>
          </div>
          <div>
            <a (click)="logout()">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- ============================================================================== -->

  </nav>
</header>

<div id="site-main">
  <router-outlet></router-outlet>
  <a (click)="screenModeToggle()"  [ngClass]="{'screen-mode-back': !screenMode}" class="back-link"><span>Back</span></a>
</div>
