.nav-container, .footer-container {
  display: inline-block;
}
.auth-container {
  position:fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* transform: translateX(-80px);  */
  border: 2px solid black;
  width: 50%;
  height: 50%;
  background: rgb(80, 80, 80);
  border-top:rgb(80, 80, 80);
}
.screen-mode, .screen-mode-back {
  display: none;
}