<ng-container *ngIf="!beer">
  Loading...
</ng-container>

<div class="card" *ngIf="beer">

  <div class="beer-title box">
      <h2>{{beer.name}}</h2>
    <div class="beer-color" [ngStyle]="{ 'background-color': beer.color }"></div>
  </div>

  <div class="beer-info box">
    <div class="beer-info-left">
      <p>{{beer.type}}</p>
      <p><strong>Alc:</strong> {{beer.abv}}%</p>
      <p><strong>IBU:</strong> {{beer.ibu}}</p>
    </div>
    <div class="beer-info-right">
      <h3> <img src="assets/data/images/pint.png" alt="pint"> €{{beer.pintPrice}}</h3>
      <h3> <img src="assets/data/images/half_pint.png" alt="half-pint"> €{{beer.halfPintPrice}}</h3>
    </div>
  </div>
  
  <div class="beer-brewery box">
      <h3>{{beer.brewery}}</h3>
  </div>


</div>



<!--  -->