.card {
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  text-transform: uppercase;
  color:#310303;
  background: white;
  margin: 0 auto;
  font-size: 25px;
}


.box {
  padding-top: 5px;
  margin-bottom: 5px;
}

.beer-title h2 {
  width: 85%;
}

.beer-title .beer-color {
  border-radius: 50%;
  width:30px;
  height: 30px;
}

.beer-info-left, .beer-info-right, .beer-title > * {
  display: inline-block;
}

.beer-info-right {
  float: right;
}

@media (max-width: 800px) {
  .card {
    width: 400px;
  }
}








/* .card {
  padding: 20px;
  text-transform: uppercase;
  color:rgb(230, 230, 230);
  text-shadow: 0 0 8px rgb(0, 0, 0);
}
.color-bar {
  height: 50px;
}
.beer-prices {
  float: right;
  margin-bottom: 15px;
}
.beer-info p, .beer-name {
  display:inline-block;
  margin-right: 10px;
}
 */
