
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-width: 422px;
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: rgb(255, 255, 255);
  background: url('https://files.slack.com/files-pri/T02CQ4EN4-FAP8TGBEX/texture-bg_copy.png');
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1, h2 {
  margin: 0 0 20px 0;
} 

h3, h4, p {
  margin: 0 0 10px 0;
}



/* ---- layout ---- */

#site-header{
  top: 0;
  position: sticky;
  background: #310303;
}
#site-main {
  padding: 10px 0;
}
.container {
  margin: 0 20px;
}
@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}
/* Scrollbar */
::-webkit-scrollbar{
    width: 0;
}

button:focus {
  outline:0;
}

/* Form */

.field input{
  color:white;
  background: none;
  border: none;
  border-bottom: 1px solid #FFE0E0;
  width: 90%;
  font-size: 200%;
  margin-bottom: 40px;
}

.field input:focus {
  background: #890000;
}

form {
  padding-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}

form .validation {
  color: red;
}

form button {
  border: 1px solid rgb(39, 38, 38);
  background: #FFE0E0;
  padding: 15px 0;
  font-size: 16px;
  width: 90%;
}

form button:hover {
  box-shadow: inset 0 0 10px;
}

/* ---- components ---- */




